<div style="background-color: #74b446; color: white; padding-top: 15px; padding-bottom: 15px; text-align: center;">
    <div class="row slogan" style="font-family: 'museoSlab300'; font-size: 20px;">
        Empower people around the world with a $25 loan <a href="javascript:" class="how-it-works">How it works</a>
    </div>
</div>
<div class="row" style="margin-top: 10px; background-image: url('static/img/slider1.jpg'); background-position: -175px; height: 400px; background-size: 1300px auto;">
    <div class="large-8 columns"></div>
    <div class="large-4 columns appeal" style="height: 400px;">
        <h1 class="appeal-head">Erlinda Clothes Her Community</h1>
        <img src="/static/img/kenya.png">&nbsp;&nbsp;<span class="landing-country"><b>Kenya</b> | Retail</span>
        <p class="appeal-copy">
            From school uniforms to work clothes for local farmers, this 32-year-old can sew anything her small town needs.</p>
        <p class="appeal-copy">For $500, Erlinda can buy fabric, thread, and other supplies to keep her business thriving.</p>
        <p class="progress-info">
            <span style="font-family: 'museoSlab500'; font-size: 30px;">95% </span>funded, $25 to go
        </p>
        <div style="width: 95%" class="percent-complete"></div><div style="width: 5%" class="percent-to-go"></div>
        <div class="row" style="margin-top: 15px;">
            <button class="appeal-button">Lend Her $25</button>
            <span>Or <a href="#/browse">browse loans</a></span>
        </div>
    </div>
</div>
<div style="margin-top: 8px; background-image: url('/static/img/page-bottom.jpg'); background-position: center; height: 745px;"></div>