@font-face {
    font-family: museoSlab300;
    src: url(Museo_Slab_300.woff);
}

@font-face {
    font-family: museoSlab500;
    src: url(Museo_Slab_500.woff);
}

@font-face {
    font-family: proximaNovaReg;
    src: url(ProximaNova-Reg.woff);
}

@font-face {
    font-family: proximaNovaLight;
    src: url(ProximaNova-Light.woff);
}

@font-face {
    font-family: proximaNovaBold;
    src: url(ProximaNova-Sbold.woff);
}

.appeal {
    background-image: url('../img/70.png');
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.appeal-button {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'proximaNovaReg';
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
}

.appeal-head {
    font-family: 'museoSlab300';
    margin-bottom: 10px;
}

.appeal-copy {
    font-size: 14px;
    line-height: 18px;
}

.progress-info {
    margin-bottom: 10px;
    padding-top: 20px;
}

.percent-complete {
    display: inline-block;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 15px;
    background-color: #74b446;
}

.friend-funding-icon {
    display: inline-block;
    margin-top: 0px;
}

.friend-funding {
    background-image: url('../img/80.png');
    width: 290px;
    position: absolute;
    top: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-family: 'proximaNovaBold';
}

.friend-funding-text {
    display: inline-block;
    margin-top: 5px;
    position: absolute;
    top: 4px;
}

.percent-to-go {
    display: inline-block;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 15px;
    background-color: white;
}

.how-it-works {
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
    color: white;
    background-color: #4b9123;
    font-family: 'proximaNovaLight';
    padding: 3px 10px;
}

.how-it-works:hover {
    text-decoration: underline;
}

.browse-container {
    background-color: #f7f7f2;
    min-height: 900px;
}

.carousel-element {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 190px;
}

.sm-preview {
    position: absolute;
    right: 5px;
    bottom: 4px;
    width: 200px;
    height: 191px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-element:hover {
    cursor: pointer;
    box-shadow: 0 0 6px black;
}

.sm-preview {
    background-image: url('../img/80.png');
}

.sm-preview-country {
    font-size: 14px;
    margin-top: 5px;
    font-family: 'proximaNovaBold';
}

.sm-preview-head {
    color: #197099;
    font-family: 'museoSlab300';
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sm-preview-text {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: 'proximaNovaReg';
}

.browse-header {
    margin-left: 5px;
    margin-bottom: 10px;
    color: #4b9123;
    font-family: 'museoSlab500';
}

.landing-country {
    font-size: 15px;
}

