<script>
    $(document).ready(function() {
        $("#recommendations").owlCarousel({
            pagination: true,
            autoPlay: 3000,
            // navigation: true,
            items: 3
            // rewindSpeed: 0
        });
    });
</script>
<div style="background-color: #f7f7f2;">
    <div ng-controller="browseCtrl" class="row" style="margin-top: 0px;">
        <h2 style="color: #4b9123; font-family: 'museoSlab500'">Recommended for You</h2>
        <div id="recommendations" class="owl-carousel" style="max-width: 995px;">
            <div class="carousel-element" style="background-image: url('../img/1611594.jpg'); height: 190px; background-position: center;">
                <div class="sm-preview" style="position: absolute; bottom: 0; width: 100%; padding: 10px;">
                    <h3 style="color: #197099; font-family: 'museoSlab300'; margin-top: 0px; margin-bottom: 0px;">Header</h3>
                    <p style=" margin-top: 5px;">Some text!</p>
                </div>
            </div>
            <div class="carousel-element" style="background-image: url('../img/1611594.jpg'); height: 190px; background-position: center;">
                <div class="sm-preview" style="position: absolute; bottom: 0; width: 100%; padding: 10px;">
                    <h3 style="color: #197099; font-family: 'museoSlab300'; margin-top: 0px; margin-bottom: 0px;">Header</h3>
                    <p style=" margin-top: 5px;">Some text!</p>
                </div>
            </div>
            <div class="carousel-element" style="background-image: url('../img/1611594.jpg'); height: 190px; background-position: center;">
                <div class="sm-preview" style="position: absolute; bottom: 0; width: 100%; padding: 10px;">
                    <h3 style="color: #197099; font-family: 'museoSlab300'; margin-top: 0px; margin-bottom: 0px;">Header</h3>
                    <p style=" margin-top: 5px;">Some text!</p>
                </div>
            </div>
            <div class="carousel-element" style="background-image: url('../img/1611594.jpg'); height: 190px; background-position: center;">
                <div class="sm-preview" style="position: absolute; bottom: 0; width: 100%; padding: 10px;">
                    <h3 style="color: #197099; font-family: 'museoSlab300'; margin-top: 0px; margin-bottom: 0px;">Header</h3>
                    <p style=" margin-top: 5px;">Some text!</p>
                </div>
            </div>
            <div class="carousel-element" style="background-image: url('../img/1611594.jpg'); height: 190px; background-position: center;">
                <div class="sm-preview" style="position: absolute; bottom: 0; width: 100%; padding: 10px;">
                    <h3 style="color: #197099; font-family: 'museoSlab300'; margin-top: 0px; margin-bottom: 0px;">Header</h3>
                    <p style=" margin-top: 5px;">Some text!</p>
                </div>
            </div>
            <div class="carousel-element" style="background-image: url('../img/1611594.jpg'); height: 190px; background-position: center;">
                <div class="sm-preview" style="position: absolute; bottom: 0; width: 100%; padding: 10px;">
                    <h3 style="color: #197099; font-family: 'museoSlab300'; margin-top: 0px; margin-bottom: 0px;">Header</h3>
                    <p style=" margin-top: 5px;">Some text!</p>
                </div>
            </div>
            <div class="carousel-element" style="background-image: url('../img/1611594.jpg'); height: 190px; background-position: center;">
                <div class="sm-preview" style="position: absolute; bottom: 0; width: 100%; padding: 10px;">
                    <h3 style="color: #197099; font-family: 'museoSlab300'; margin-top: 0px; margin-bottom: 0px;">Header</h3>
                    <p style=" margin-top: 5px;">Some text!</p>
                </div>
            </div>
            <div class="carousel-element" style="background-image: url('../img/1611594.jpg'); height: 190px; background-position: center;">
                <div class="sm-preview" style="position: absolute; bottom: 0; width: 100%; padding: 10px;">
                    <h3 style="color: #197099; font-family: 'museoSlab300'; margin-top: 0px; margin-bottom: 0px;">Header</h3>
                    <p style=" margin-top: 5px;">Some text!</p>
                </div>
            </div>
            <div class="carousel-element" style="background-image: url('../img/1611594.jpg'); height: 190px; background-position: center;">
                <div class="sm-preview" style="position: absolute; bottom: 0; width: 100%; padding: 10px;">
                    <h3 style="color: #197099; font-family: 'museoSlab300'; margin-top: 0px; margin-bottom: 0px;">Header</h3>
                    <p style=" margin-top: 5px;">Some text!</p>
                </div>
            </div>


        </div>

    </div>

</div>

        <div style="background-image: url('../img/browse-bottom.jpg'); height: 627px; background-position: center;"></div>

